<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="equipo">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          <h3>{{equipo.nombre | uppercase}}</h3>
        </mat-card-title>
      </mat-card-title-group>
      <img matCardImage data-src="data:image/png;base64,{{equipo.image}}" alt={{equipo.nombre}}>
      <mat-card-content>
        <p>{{equipo.categoria}}
        </p>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-raised-button>modificar</button>
        <button mat-raised-button>eliminar</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="40" *ngIf="equipo">
    <h1>Detalle del Equipo</h1>
    <mat-list>
      <mat-list-item>
        <p matLine>nombre: {{equipo.nombre}}</p>
        <p matLine>cantidad: {{equipo.cantidad}} Unidades</p>
        <p matLine>estado: {{equipo.estado}}</p>
        <p matLine>categoria: {{equipo.categoria}} fecha de adquisicion: {{equipo.fechaAdquisicion | date}}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>

