<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="item">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          <h3>{{item.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-title-group>
      <img matCardImage src={{item.image}} alt={{item.name}}>
      <mat-card-content>
        <p>{{item.description}}
        </p>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button (click)="onAction($event)">LIKE</button>
        <button mat-button (click)="onAction($event)">SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="40">
    <h1>Comments</h1>
    <mat-list>
      <mat-list-item *ngFor="let detail of itemDetail">
        <p matLine>{{detail.comment}}</p>
        <p matLine>{{detail.rating}} Stars</p>
        <p matLine>-- {{detail.author}} {{detail.date | date}}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>

